body {
    background-color: #F3D8C7;
}

h1 {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    margin-top: 5%;
    font-size: 70px;
    color: #302A28;
}

h3 {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    margin-top: 5%;
    font-size: 70px;
    color: #302A28;
}

p {
    font-family: 'Amatic SC', cursive;
    text-align: center;
    font-size: 55px;
}

img{
    margin-left: 36%;
}

.sq1{
    background-color:	#D0B8AC;
    margin: 5%;
    border-radius: 10%;
}

.sq2{
    background-color:	#EFE5DC;
    margin: 5%;
    border-radius: 10%;
}

.sq{
    background-color:	#EFE5DC;
    margin: 5%;
    border-radius: 10%;
}

.btn{
    font-size: 39px;
    background: #ffb200;
    border-radius: 3%;
    padding: 1%;
    border: 4px;
    width: 170px;
    font-family: 'Amatic SC', cursive;
}
